/* Variables */
:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover: hsl(355, 100%, 74%);
  --headings: hsl(208, 49%, 24%);

  --white: hsl(0, 0%, 100%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);

  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);

  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);

  --font-title: 'Overpass', sans-serif;
  --font-text: 'Ubuntu', sans-serif;

}

/* Global */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--white);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  color: var(--very-light-gray);
  font-family: var(--font-text);
}

body {
  background-color: #fafafa;
}

main, footer, header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1110px;
  width: 100%;
}

.button, button {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: 0;
  background-color: var(--white);
  margin: 0.5rem;
  font-family: var(--font-text);
  font-weight: 800;
  letter-spacing: 1px;
}


/* Style */
.header {
  position: relative;
  background-image: 
  linear-gradient(25deg, var(--very-light-red), var(--light-red));
  padding: 4rem 0 7rem 0;
  border-radius: 0 0 0 4rem;
  color: var(--white);
}

.navigation {
  width: 100%;
}

.nav-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content:center;
}

.nav {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  border: 1px solid red;
  height: 100%;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
}

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--white);
  margin-right: 2.5rem;
  height: 50px;
  border-bottom: 0px solid var(--cta-text);
}

.dropdown:hover {
  text-decoration: underline;
}

.dropdown:hover > .dropdown-item{
  position: absolute;
  display: block;
  transition: all ease-out 0.3s;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.308);
}

.dropdown:hover > .dropdown-item a {
  color: var(--footer-background);
  margin-bottom: 1rem;
  transition: all ease-in .1s;
}

.dropdown::after {
  content: "";
  background-image: url("../images/icon-arrow-light.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  display: block;
  top: 45%;
  right: -30%;
  width: 10px;
  height: 10px;
}

.dropdown-item {
  display: none;
  padding: 1.5rem;
  width: 200px;
  margin-top: 1rem;
  height: auto;
  
}

.dropdown-item a:hover {
  font-weight: 700;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content h1 {
  margin-top: 5rem;
}

.header-content p {
  margin: 2rem 0;
}

.div-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-form .btn-signup {
  color: var(--light-red)
}

.btn-signup:hover, .btn-start:hover, .btn-more:hover {
  background-color: rgba(255, 255, 255, 0.219);
  color: var(--white);
  transition: all ease-in 0.3s;
}

/* Main Section */
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 1070px;
  height: 100%;
  overflow: hidden;
  background-image: url("../images/illustration-editor-desktop.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top 10% right -29%;
  width: 100%;
  margin: 2rem 0 5rem 0;
}

.title-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  font-family: var(--font-title);
  font-weight: 800;
  color: var(--headings);
}

/* Design */

.design {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.design-text {
  max-width: 520px;
}

.para-header {
  font-size: 1.2rem;
  padding: 4rem 0 2rem 0;
  font-family: var(--font-title);
  font-weight: 800;
  color: var(--headings);
}

.para-header + p, .infra-content p {
  line-height: 1.5rem;
  font-family: var(--font-title);
  color: var(--body-copy);
}

/* Infrastructure */

.infra {
  position: relative;
  width: 100%;
  background-image: 
  linear-gradient(30deg, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));
  border-radius: 0 4rem 0 4rem;
}

.infrastructure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top 85% left -45%;
  min-height: 400px;
}

.infra-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.img-phone {
  position: absolute;
  width: contain;
  top: -15%;
  right: 53%;
  
}

.infra-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  max-width: 520px;
  width: 100%;;
}

.infra-content .title-heading {
  display: flex;
  justify-content: start;
  color: var(--white);
}

.infra-content p {
  color: var(--white);
  padding-top: 1.5rem;
}

/* Tools */
.tools {
  min-height: 1070px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../images/illustration-laptop-mobile.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: left -60% center;
}

.tools-grid {
  display: flex;
  align-items: center;
  justify-content: end;
  
}

.tools-content {
  max-width: 520px;
  width: 100%
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-background);
  min-height: 400px;
  border-radius: 0 4rem 0 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.link-head ~ a {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--footer-background);
}

.link-head ~ a:hover {
  border-bottom: 1px solid var(--footer-text);
}

.product, .company, .connect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link-head {
  font-weight: 700;
  padding-bottom: 2rem;
}

/* Hamburger Menu */
.menu {
  position: relative;
}

.menu {
  display: none;
}

.hamburger {
  width: 25px;
  line-height: 3px;
  display: block;
  background-color: green;
  position: relative;
  left: 0;
  height: 4px;
  margin-bottom: 3px;
  border-radius: 3px;
  top: 0;
}

@media only screen and (max-width: 1110px) {
  .container {
    width: 100%;
    padding: 0 2rem;
  }

  .nav-grid, .nav, .nav-item, .dropdown, .nav-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .nav {
    text-align: center;
  }

  .menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}